@media all and (max-width: 768px) {
  .specifics.css .button.close-project {
    position: fixed;
    z-index: 50;
    block-size: var(--s32);
    filter: drop-shadow(var(--s1) var(--s1) var(--s2) rgb(0 0 0 / 8%));
    inline-size: var(--s32);
    inset: auto auto var(--s32) 50%;
    transform: translate(-50%);
  }
  .specifics.css {
    padding: var(--s12);
  }
  .site-config .config-option button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-inline-size: 100%;
  }
  .site-config .config-option button > * {
    justify-self: start;
  }
  .header-logo.menu-open {
    border-color: transparent;
  }
  .site-config .config-option {
    margin-block-end: var(--s8);
  }
  .columns {
    --columns: 4;
  }
  header {
    font-size: var(--f12);
    line-height: 133%;
  }
  header .header-button .mobile-menu-box.show {
    opacity: 1;
    visibility: visible;
  }
  :root {
    --page-margin-total: var(--s12);
  }
  .site-config .config-option {
    margin-block-end: var(--s8);
  }
  .header-logo.menu-open {
    border-color: transparent;
  }
  .site-config .config-option button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-inline-size: 100%;
  }
  .site-config .config-option button > * {
    justify-self: start;
  }
  body.mobile-menu-open main::after {
    opacity: 0.8;
  }
  .columns.mobile-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .col-s-2 {
    --span: 2;
  }
  .specifics.css .col + .col {
    margin-block-start: var(--layout-space);
  }
  section.information-row .col + .col {
    margin-block-start: var(--s40);
  }
  .show-small {
    display: flex;
  }
  body {
    font-size: var(--f12);
    line-height: 133%;
  }
  body.mobile-menu-open main::after {
    opacity: 0.8;
  }
  .specifics.css {
    padding: var(--s12);
  }
  .specifics.css .button.close-project {
    position: fixed;
    z-index: 50;
    block-size: var(--s32);
    filter: drop-shadow(var(--s1) var(--s1) var(--s2) rgb(0 0 0 / 8%));
    inline-size: var(--s32);
    inset: auto auto var(--s32) 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .header-bottom,
  .main-content {
    flex-direction: column;
  }
}

@media screen and (min-inline-size: 1var(--s800)) .uhf-container:not(.has-padding) {
  inline-size: var(--s1752);
  margin-inline: auto auto;
  max-inline-size: var(--s1752);
}

@media screen and (min-inline-size: 768px),
  print .heading-wrapper .anchor-link {
  inline-size: 1.5rem;
  inset-inline-start: -1.875rem;
  transform: translateY(-50%) scale(1);
}
