@layer base {
  :root {
    --black: 1d1d1b;
    --white: f7f7f7;
    --purple: a888a4;
    --accent: e0badb;
    --grey-10: edeeed;
    --grey-20: d3d4d4;
    --grey-30: bababa;
    --grey-40: 8f8f8f;
    --grey-50: 6b6b6b;
    --grey-60: 525252;
    --grey-70: 454545;
    --grey-80: 313030;
    --grey-90: 242424;
    --page-bg: var(--white);
    --dark-text: var(--black);
    --light-text: var(--grey-10);
    --card: var(--grey-80);
    --hover: var(--grey-70);
    --border: var(--accent);
    --number: var(--purple);
    --footer: var(--grey-90);
    --button: var(--grey-10);
    --active: var(--grey-30);
    --inactive: var(--grey-50);
    --button-default: var(--grey-10);
    --button-hover: var(--grey-20);
    --button-active: var(--grey-30);
    --table-border: var(--grey-60);
    background-color: var(--page-bg);
    color: var(--dark-text);
  }
  hr {
    color: var(--grey-30);
  }
  .button {
    background-color: var(--button);
    &:hover {
      background-color: var(--hover);
    }
    &:active {
      background-color: var(--active);
    }
  }
  .card {
    background-color: var(--card);
    &:hover {
      border: var(--s1) solid var(--purple);
    }
  }
  .footer {
    background-color: var(--footer);
  }
  .inactive {
    background-color: var(--inactive);
  }
  .number {
    color: var(--number);
  }
  .table-border {
    border: var(--s1) solid var(--table-border);
  }
  .active {
    background-color: var(--active);
  }
}
