footer::before {
  display: block;
<<<<<<< HEAD
  padding-block-end: var(--s-1);
  content: "\220e";
}
footer {
  display: block;
  max-inline-size: 35rem;
  margin-inline-end: auto;
  margin-inline-start: auto;
}
footer-chatbot {
  border-block-end: 3px solid #ffd700;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  position: relative;
  padding-block-end: var(--s16);
  margin-block-start: var(--s32);
  color: var(--page-footer);
=======
  content: "\220e";
  padding-block-end: var(--s-1);
}
footer {
  display: block;
  margin-inline: auto auto;
  max-inline-size: 35rem;
}
footer-chatbot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-block-end: 3px solid #ffd700;
}
footer {
  position: relative;
  color: var(--page-footer);
  margin-block-start: var(--s32);
  padding-block-end: var(--s16);

}
footer::before {
  position: absolute;
  top: 0;
  left: var(--page-margin-total);
  display: block;
<<<<<<< HEAD
  inline-size: var(--innerWidth);
  block-size: var(--s1);
  background-color: var(--border);
  content: "";
=======
  background-color: var(--border);
  block-size: var(--s1);
  content: "";
  inline-size: var(--innerWidth);

}
footer .col {
  padding-block-start: var(--s8);
  transition: border-color 0.4s var(--easingOut);
}
