header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  font-size: var(--f12);
  inline-size: 100%;
  line-height: 100%;
}
.header-height {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vh;
  background-color: var(--grey-80);
  block-size: var(--headerheight);
  gap: 10ch;
  outline: yellow var(--border-thick) dotted;
}

@media all and (max-width: 768px) {
  header {
    font-size: var(--f12);
    line-height: 133%;
  }
}
.header-top {
  font-size: 15vw;
  line-height: 0.6;
  white-space: nowrap;
}
.header-bottom {
  position: relative;
  z-index: 2;
  background-color: var(--page-bg);
  border-block-end: var(--s1) solid var(--page-bg);
  padding-block: var(--s8) var(--s8);
  transition:
    background-color 0.4s var(--easingOut),
    transform 0.8s var(--easing),
    border-color 0.4s var(--easingOut);
}
.header-bottom header p {
  color: var(--active);
}
header .show-small {
  justify-content: flex-end;
}
header .header-button {
  position: relative;
}
header .header-button button {
  position: relative;
  z-index: 25;
}
header .header-button .mobile-menu-box-animate {
  position: absolute;
  z-index: 22;
  top: calc(-1 * var(--s12));
  right: 0;
  border-radius: var(--s6);
  background-color: var(--grey-50);
  block-size: 0;
  inline-size: 0;
}
header .header-button .mobile-menu-box {
  position: absolute;
  z-index: 23;
  top: calc(-1 * var(--s12));
  right: 0;
  padding: var(--s16) var(--s12) var(--layout-space);
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  visibility: hidden;
}
header .header-button .mobile-menu-box-animate.animate-in {
  animation: mobileMenuBoxIn 0.4s forwards var(--easing);
}
header .header-button .mobile-menu-box-animate.animate-out {
  animation: mobileMenuBoxOut 0.4s 0.2s forwards var(--easing);
  block-size: var(--targetHeight);
  inline-size: calc(100vw - var(--page-margin-total) * 2);
}
header .header-button .mobile-menu-box {
  position: absolute;
  z-index: 23;
  top: -var(--s12);
  right: 0;
  padding: var(--s16) var(--s12) var(--s24);
  color: var(--dark-text);
  inline-size: calc(100vw - var(--page-margin-total) * 2);
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  visibility: hidden;
}
header .header-button .mobile-menu-box.show {
  transition:
    opacity 0.2s 0.4s ease,
    visibility 0.2s 0.4s ease;
}
header .header-button .mobile-menu-box p {
  color: inherit;
  margin-block-end: var(--s12);
}
header.scrolled .header-bottom {
  border-block-end: var(--s1) solid var(--border);
}
header.scrolled.hide .header-bottom {
  transform: translateY(-100%);
}
.header-logo {
  position: relative;
  z-index: 5;
  padding: var(--s13) 0 var(--s11);
  background-color: var(--dark-text);
  border-block-end: var(--s1) solid var(--border);
  inline-size: 100%;
  transition:
    var(--black) 0.4s var(--easingOut),
    border-color 0.4s var(--easingOut);
}
.header-logo svg {
  display: block;
  block-size: auto;
  inline-size: 100%;
}
.header-logo svg {
  display: block;
  block-size: auto;
  inline-size: 100%;
}
.header-logo svg path {
  fill: var(--black);
  transition: fill 0.4s var(--easingOut);
}
header .header-bottom {
  position: relative;
  z-index: 2;
  background-color: var(--page-bg);
  border-block-end: var(--s1) solid var(--black);
  padding-block: var(--s8) var(--s8);
  transition:
    background-color 0.4s var(--easingOut),
    transform 0.8s var(--easing),
    border-color 0.4s var(--easingOut);
}
header .header-button .mobile-menu-box p {
  color: inherit;
  margin-block-end: var(--s12);
}
.hide-letter.hide {
  animation: fadeOut 0.2s forwards var(--easingOut);
  animation-delay: calc(var(--i) * 18ms);
}
.visitor-info {
  display: flex;
  justify-content: flex-end;
}
.site-config .config-option button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  appearance: none;
  background: transparent;
  color: var(--active);
  cursor: pointer;
  gap: var(--s8);
  min-inline-size: var(--119s);
  outline: 0;
}
.site-config .config-option button > .indicator {
  color: var(--inactive);
}
.site-config .config-option button > .indicator > span {
  display: inline-block;
  color: var(--white);
  inline-size: var(--9s);
}
ul.mobile-contact-info li {
  display: grid;
  color: var(--active);
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
}
ul.mobile-contact-info li:not(:last-child) {
  margin-block-end: var(--s12);
}
.button:active {
  background-color: var(--active);
}
@media (hover: hover) {
  .header-logo:hover .hide-letter.hide {
    animation: fadeIn 0.2s forwards var(--easingOut);
    animation-delay: calc(var(--i) * 18ms);
    opacity: 0;
  }
  .site-config .config-option button:hover {
    color: var(--dark-text);
  }
  .button:hover {
    background-color: var(--grey-60);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes mobileMenuBoxIn {
  0% {
    block-size: var(--s48);
    inline-size: 0;
  }
  50% {
    block-size: var(--s48);
    inline-size: calc(100vw - var(--page-margin-total) * 2);
  }
  100% {
    block-size: var(--targetHeight);
    inline-size: calc(100vw - var(--page-margin-total) * 2);
  }
}

@keyframes mobileMenuBoxOut {
  0% {
    block-size: var(--targetHeight);
    inline-size: calc(100vw - var(--page-margin-total) * 2);
  }
  50% {
    block-size: var(--s48);
    inline-size: calc(100vw - var(--page-margin-total) * 2);
  }
  100% {
    block-size: var(--s48);
    inline-size: 0;
  }
}

@media all and (max-width: 768px) {
  header .header-bottom {
    padding-block: var(--s12) var(--s12);
  }
  header .header-button .mobile-menu-box.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .header-logo.menu-open {
    border-color: transparent;
  }
  .site-config .config-option {
    margin-block-end: var(--s8);
  }
  .site-config .config-option button {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(2, 1fr);
    min-inline-size: 100%;
  }
  .site-config .config-option button > * {
    justify-self: start;
  }
}
header .show-small {
  justify-content: flex-end;
}
header .header-button {
  position: relative;
}
.header-button button:active .icon-minus {
  display: inline-block;
}
header .header-button .mobile-menu-box-animate {
  position: absolute;
  z-index: 22;
  top: calc(-1 * var(--s12));
  right: 0;
  border-radius: var(--s6);
  block-size: 0;
  inline-size: 0;
}
header .header-button .mobile-menu-box {
  position: absolute;
  z-index: 23;
  top: calc(-1 * var(--s12));
  right: 0;
  padding: var(--s16) var(--s12) var(--layout-space);
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  visibility: hidden;
}
header .header-button .mobile-menu-box p {
  color: inherit;
  margin-block-end: var(--s12);
} /* header .header-button button .icon-minus {
	display: none;
}
header .header-button button.active .icon-menu {
	display: none;
}
header .header-button button.active .icon-minus {
	display: inline-block;
} */
