/* SECTION -  mouse-cursor-gradient-tracking */
a:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

/* causes a halo esque glow to appears around the mouse as it passes over elements given the "mouse-cursor-gradient-tracking" class. */
.mouse-cursor-gradient-tracking {
  position: relative;
  overflow: hidden;
  padding: 0.5rem var(--s16);
  border: none;
  background: #7983ff;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}
.mouse-cursor-gradient-tracking span {
  position: relative;
}
.mouse-cursor-gradient-tracking::before {
  --size: 0;
  position: absolute;
  top: var(--y);
  left: var(--x);
  background: radial-gradient(circle closest-side, pink, transparent);
  block-size: var(--size);
  content: "";
  inline-size: var(--size);
  transform: translate(-50%, -50%);
  transition:
    inline-size 0.2s ease,
    height 0.2s ease;
}
.mouse-cursor-gradient-tracking:hover::before {
  --size: var(--s200);
}

/* ! */
@media (hover: hover) {
  .header-logo:hover .hide-letter.hide {
    opacity: 0;
  }
}
.work-meta-rows .work-meta-row a:hover {
  opacity: 0.7;
}
