@keyframes pinch {
  0% {
    transform: translateY(0.5rem);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.25rem);
  }
  75% {
    transform: translateY(0.25rem);
  }
  87.5% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes mobileMenuBoxOut {
  0% {
    inline-size: 0;
  }
  50% {
    inline-size: 0;
  }
  100% {
    inline-size: 0;
  }
}
@keyframes mobileMenuBoxIn {
  0% {
    inline-size: 0;
  }
  50% {
    inline-size: 0;
  }
  100% {
    inline-size: 0;
  }
}

@include tablet {
  main .memberDetails table.nameValue td:nth-child(1) {
    padding: 8px 16px 8px 0;
  }
  main .memberDetails table.nameValue td:nth-child(2) {
    padding: 8px 0;
  }
  main .memberDetails table.nameValue td:only-child {
    padding: 8px 0;
  }
}
