.color-primary {
  color: #75b6e7 !important;
}
.theme-dark {
  --theme-box-shadow-light: #0000001c;
  --theme-box-shadow-medium: #00000021;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
.modal-tab-sentinel {
  position: fixed;
  top: 0;
  left: 0;
}
.modal {
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  inset: 0;
}
.modal-active {
  display: flex;
  margin: 0 !important;
}
.icon,
.icon svg,
.icon img {
  width: 1em;
  height: 1em;
}
.modal-background {
  position: absolute;
  background-color: var(--grey-20);
  inset: 0;
  outline-color: var(--grey-20);
}
.modal-background + div:not(.modal-content) {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: auto;
  max-width: calc(100vw - 40px);
  overflow-y: auto;
}
.modal-card {
  position: fixed !important;
  top: 3%;
  right: 1%;
  left: 1%;
  display: flex;
  overflow: auto;
  width: 98%;
  height: 80%;
  max-height: calc(100vh - 40px);
  flex-direction: column;
  border: 1px solid var(--grey-70);
  border-radius: 0.375rem;
  background-color: var(--grey-10);
  box-shadow:
    0 1.6px 3.6px 0 #00000021,
    0 0.3px 0.9px 0 #0000001c;
  outline-color: var(--white);
  overflow-y: auto;
}

/* .modal-content,
.modal-card {
  position: relative;
  max-height: 100%;
  margin: 0;
  overflow-y: auto;
} */

/* .modal-allow-overflow {
  overflow: visible;
} */
.modal-content .modal-card-body {
  display: flex;
  height: calc(100% - 58px);
  min-height: 100vh;
  box-sizing: inherit;
  flex: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--grey-80);
  color: var(--grey-10);
  line-height: 160%;
}
.modal-tab-sentinel {
  position: fixed;
  top: 0;
  left: 0;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.buttons:not(:last-child) {
  margin-block-end: 1rem;
}
.buttons.buttons-right {
  justify-content: flex-end;
}
.modal-card-head,
.modal-card-foot {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem !important;
  background-color: var(--theme-body-background);
  margin-block-end: 0 !important;
  outline-color: var(--theme-text);
}
.padding-xxs {
  padding: 0.5rem !important;
}
.margin-bottom-none {
  margin-block-end: 0 !important;
}
.button.button-clear {
  border-color: #00000000;
  background-color: #00000000;
}
.button.button-sm {
  font-size: 0.875rem;
}
.button {
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  padding-block: calc(0.375em - 1px);
  padding-inline: 0.75em;
  text-decoration: none;
}
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button .icon {
  font-size: 0.875em;
}
.button .icon:first-child:not(:only-child) {
  margin-inline-end: 0.375em;
}
.docon {
  display: inline-block;
  direction: ltr;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 16px;
  speak: none;
  text-align: center;
  text-transform: none;
}
.docon-collapse::before {
  content: "ﾐ";
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
  margin-block-start: 0 !important;
  table-layout: auto;
}
.table:not(.table-simple) {
  border: 1px solid #505050;
}
.margin-top-none {
  margin-block-start: 0 !important;
}
thead {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
}
.table th,
.table td {
  display: table-cell;
  padding: 1rem 1.25rem;
  border-block-start: 1px solid var(--grey-50);
  line-height: 1.5;
  vertical-align: top;
  word-wrap: break-word;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
.table th:not([align]) {
  text-align: left;
}
.table.table-sm th,
.table.table-sm td {
  padding: 0.5rem;
}
