.custom-scrollbar {
  block-size: var(--s90);
  overflow-y: scroll;
}
.custom-scrollbar.custom-scrollbar::-webkit-scrollbar {
  inline-size: var(--s8);
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: var(--s10);
  box-shadow: inset 0 0 var(--s6) rgba(var(--black) 0.3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: var(--s10);
  box-shadow: inset 0 0 var(--s6) rgba(var(--black) 0.5);
}
.overflow-scroll-gradient {
  position: relative;
}
.overflow-scroll-gradient::after {
  position: absolute;
  bottom: 0;
  background: linear-gradient(var(--white) 1%, var(--white));
  block-size: var(--s5);
  content: "";
  inline-size: var(--s240);
  pointer-events: none;
}
.overflow-scroll-gradient-scroller {
  padding: var(--s15);
  background: var(--white);
  block-size: var(--s200);
  inline-size: var(--s200);
  line-height: var(--f4);
  overflow-y: scroll;
}
