html {
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  outline-color: inherit;
  background-color: inherit;
  overflow: hidden scroll;
  font-size: 16px;
  margin: 0;
  line-height: 1.15;
  color: inherit;
  font-family: acumin-pro-wide, sans-serif;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  vertical-align: baseline;
  writing-mode: horizontal-tb;
}
body {
  display: block;
}

/*

.visitor-info {
	display: flex;
	justify-content: flex-end;
}
main::after {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
  inline-size: 100%;
    block-size: calc(100% + var(--s70)));
	content: "";
	opacity: 0;
}
.hr1 {
	display: inline-block;
  block-size: 0.2ch;
	padding: 0;
	border: 0;
  margin-block-start: var(--s1);
    margin-block-end: var(--s16);
	color: #efefef;
	outline: 0;
}

/* adds margin back onto clases that have been reset */
.title {
  padding: 3em;
  font-family: adieu, sans-serif;
  font-size: 1.55rem;
  font-style: normal;
}
.subtitle hr {
  inline-size: 5%;
}
.subtitle {
  position: relative;
  display: block;
  align-content: start;
  font-size: 1.5rem;
  line-height: 1.1;
}
#app {
  max-inline-size: 80rem;
  padding: var(--s32);
  margin: 0 auto;
  font-weight: 400;
}
:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus,
shrink-grow:focus {
  outline: none;
}
[href="#main"] {
  position: absolute;
  top: -10rem;
  display: inline-block;
  padding: var(--s8);
  background-color: var(--dark-text);
  color: var(--white);
}
[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}
.email-label {
  color: var(--purple);
}
.email-label.hide {
  display: none;
}
textarea {
  display: inline-block;
  min-inline-size: var(--s200);
  margin: 0.5em 0;
  vertical-align: middle;
}
.grid-overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100vh;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.grid-overlay.show {
  opacity: 1;
  visibility: visible;
}
.grid-overlay .column-overlay {
  block-size: 100vh;
  background: var(--purple);
  opacity: 0.1;
}
.body-standard {
  max-inline-size: 100%;
  align-content: flex-start;
  padding: var(--s1);
  background-color: var(--page-bg);
  color: var(--dark-text);
  font-family: var(--font-standard);
  font-size-adjust: 0.5;
  line-height: var(--font-base-line-height);
}
.object-position {
  block-size: inherit;
  background: url("Home_link.svg") no-repeat;
  background-position: calc(100% - 0em) calc(100% - 0em);
}
