.featured-widgets {
  display: grid;
  justify-content: space-evenly;
  margin: 3rem auto;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--s300), 1fr));
  max-inline-size: var(--s1200);
  white-space: nowrap;
}
.widget {
  display: grid;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--grey-80);
  box-shadow: 0.5rem 0.5rem var(--s16) rgb(0 0 0 / 15%);
  gap: calc(1vw + var(--s1));
  grid-template-columns: minmax(auto, var(--s90)) 1fr;
  white-space: nowrap;
}
.widget-img {
  display: block;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
}
.widget-meta {
  display: inline-flex;
  font-size: 0.825rem;
  gap: 2rem;
}
.card-container,
[type="checkbox"] ~ svg,
input,
textarea {
  box-shadow: inset 0.25rem 0.25rem 0 #dddddd;
}
.card-container,
[type="email"],
[type="text"],
textarea {
  padding: var(--s-1);
  border-width: var(--border-thin);
  border-radius: 0;
  font-family: var(--font-mono);
  font-size: inherit;
  inline-size: 100%;
}
